@charset "UTF-8"

/* 共通部分
--------------------------------*/
html {
   font-size: 100%;
}
body {
   font-family: "Yu Gothic Medium", "游ゴシック　Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ　Pro W3", sans-serif;
   line-height: 1.7;
   color: #432;

}
a {
   text-decoration: none;
}
img {
   max-width: 100%;
}

/* HEADER
-----------------------------*/
header {
    background-color: rgba(34,49,52,0.5);
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 10;

}

.logo {
    font-family: 'Playball', cursive;
    color: #fff;
}
span {
    color: #fecf8d;
}


.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
    margin-top: 20px;
}
.main-nav li{
    margin-left: 36px;

}
.main-nav a {
    color: #fff;
}
.main-nav a:hover {
    color: #fecf8d;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}


.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4px;

}



/* HOME
-------------------------------------------- */
.home-content {
    position: relative;

}
.home-content p {
    font-size: 1.5rem;
    font-family: 'Playball', cursive;
    color: #dbedf0;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 35%;
}

.big-baghome {
     background-color: #000;
     width: 100%;
     min-height: 100vh;
     background-size: cover;
}


/* 大きな背景画像　*/

.fade-img {
    position: relative;
    width: 100%;
    height: 100vh;
}
.fade-img img {
    position: absolute;
　　background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100vh;


}

/* ABOUT */
.big-bg {
    background-color: #f6f0cc;

}

/* About-縦タイトル*/
.about {
     font-size: 30px;
     border-left: 10px #fecf8d solid;
     padding-left:10px;


}
.title {
     width: 100px;
     padding-top: 65px;
}

/* 自己紹介　*/
article {
    width: 50%;
    text-align: justify;
    padding-right: 30px;
}
.intro-contents p {
    font-size: 0.8rem;
}
.jap {
    margin-top: 30px;
    margin-bottom: 20px;
}
.eng {
  margin-bottom: 100px;
}
.intro-contents h2 {
    font-family:'Pacifico', cursive;
    margin-top: 30px;
}

/* サイド画像部分　*/
aside {
    width: 50%;
    margin-top: 50px;
}

.intro-contents {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

/*ギャラリー背景　*/
.gallery-bg {
    background-color: #4a551e;
    color: #ddd;
}

/* ギャラリー縦タイトル */
.gallery {
     font-size: 30px;
     border-left: 10px #fecf8d solid;
     padding-left:10px;
}
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 100px;
}
.item p {
    font-size: 12px;
}


/* コンタクト 縦タイトル*/
.title-contact {
    font-size: 30px;
    color: #432;
    border-left: 10px #fecf8d solid;
     padding-left:10px;
}

/*　コンタクト背景　*/
.contact {
    display: flex;
    justify-content:space-between;
}
.contact img {
    width:20%;
    height:20%;
    margin-top: 280px;
}
.contact-bg {
    background-color: #f6f0cc;

}

/* コンタクトフォーム　*/
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-top: 15px;
    display: block;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 200%;
    max-width: 480px;
}
textarea {
    width: 200%;
    max-width: 480px;
    height: 6rem;
    margin-bottom: 20px;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
}
.button {
    font-size: 1.37rem;
    background: #e6bc87;
    color: #fff;
    border-radius: 5px;
    padding: 10px 24px;
}
.button:hover {
    background: #fecf8d;
}

.contact-box {
    padding: 30px 0px 100px 0px;
    position: relative;

}

/* フッター　
-----------------------------　*/
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/*下から上にフェードイン*/
.down-to-top {
  opacity: 0.1;
  transform: translateY(20px);
  transition: all 2s;
}
.down-to-top.scrollin {
  opacity: 2;
  transform: translateY(0);
}











/* モバイル版
---------------------------------------　*/

@media(max-width: 600px) {
    .logo {
        font-size: 1.2rem;
    }

    /* HEADER */
    header {
        height: 50px;
        width: 100%;
    }

    .home-content {
        position: relative;
        
    }
    .home-content p {
        position: absolute;
        top: 50%;
        left: 10%;
        font-size: 20px;
    }

    /* ABOUT */
    .intro-contents {
        flex-direction: column-reverse;
    }
    article, aside {
        width: 100%;
    }
   article {
        padding-right: 0px;
    }
    aside {
        margin-top: 30px;
    }

    /* GALLERY */
    .grid {
        display: grid;
        gap:10px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    }

    /* CONTACT */
    .contact-box textarea {
        width: 130%;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"]{
        width: 130%;
    }






    /*============
    nav
    =============*/
    nav {
      display: block;
      position: fixed;
      top: 0;
      left: -300px;
      bottom: 0;
      width: 300px;
      background: #ffffff;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      transition: all .5s;
      z-index: 3;
      opacity: 0;
    }
    .open nav {
      left: 0;
      opacity: 1;
    }
    nav .inner {
      padding: 25px;
    }
    nav .inner ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    nav .inner ul li {
      position: relative;
      margin: 0;
      border-bottom: 1px solid #333;
    }
    nav .inner ul li a {
      display: block;
      color: #333;
      font-size: 14px;
      padding: 2em;
      text-decoration: none;
      transition-duration: 0.2s;
    }
    nav .inner ul li a:hover {
      background: #e4e4e4;
    }

.main-nav {
    flex-direction: column;
    text-align: center;


}



    /*============
    .toggle_btn
    =============*/
    .toggle_btn {
      display: block;
      position: fixed;
      top: 10px;
      right: 30px;
      width: 30px;
      height: 30px;
      transition: all .5s;
      cursor: pointer;
      z-index: 3;
    }
    .toggle_btn span {
      display: block;
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
      transition: all .5s;

    }
    .toggle_btn span:nth-child(1) {
      top: 4px;
    }
    .toggle_btn span:nth-child(2) {
      top: 14px;
    }
    .toggle_btn span:nth-child(3) {
      bottom: 4px;
    }
    .open .toggle_btn span {
      background-color: #fff;
    }
    .open .toggle_btn span:nth-child(1) {
      -webkit-transform: translateY(10px) rotate(-315deg);
      transform: translateY(10px) rotate(-315deg);
    }
    .open .toggle_btn span:nth-child(2) {
      opacity: 0;
    }
    .open .toggle_btn span:nth-child(3) {
      -webkit-transform: translateY(-10px) rotate(315deg);
      transform: translateY(-10px) rotate(315deg);
    }
    /*============
    #mask
    =============*/
    #mask {
      display: none;
      transition: all .5s;
    }
    .open #mask {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: .8;
      z-index: 2;
      cursor: pointer;
    }




















}
