@charset "UTF-8"

/* 共通部分
--------------------------------*/
html {
   font-size: 100%;
}
body {
   font-family: "Yu Gothic Medium", "游ゴシック　Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ　Pro W3", sans-serif;
   line-height: 1.7;
   color: #ddd;

}
a {
   text-decoration: none;
}
img {
   max-width: 100%;
}
/* 言語切り替えStart　↓↓　*/
 /* === ラジオボタンは非表示 ================== */
#sample1 input[type="radio"]{
  display    : none;
}

 /* === 各ラジオボタンのラベルをボタンに変更 == */
#sample1 label{
  display    : inline-block;
  border     : 1px solid #ccc;
  box-shadow : 2px 2px #999;
  padding    : 2px 6px;
  cursor:pointer;
}

 /* === 選択されている言語のラベル色を変更 ==== */
#sample1 input[type="radio"]:checked + label {
  background : #ffa64d;
  cursor: pointer;
}

/* 言語切り替えEND　↑↑　*/


/* HEADER
-----------------------------*/
header {
    background-color: rgba(34,49,52,0.5);
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 12;

}

.logo {
    font-family: 'Playball', cursive;
    color: #fff;
}
span {
    color: #fecf8d;
}


.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
    margin-top: 20px;
}
.main-nav li{
    margin-left: 30px;

}
.main-nav a {
    color: #fff;
}
.main-nav a:hover {
    color: #fecf8d;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}


.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4px;

}



/* HOME
-------------------------------------------- */
.home-content {
    position: relative;

}


.big-baghome {
     background-color: #000;
     width: 100%;
     min-height: 100vh;
     background-size: cover;
}


/* 大きな背景画像　*/

.slideBox {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* テキストがあるバージョン */
.hometitle {
  font-size: 2rem;
  font-family: 'Playball', cursive;
  color: #dbedf0;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.item2 {
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 30s 0s infinite;
  animation: anime 30s 0s infinite;
}

.item2:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.item2:nth-of-type(3) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

/* ふわっとアニメーション */
@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

/* NEWS お知らせTOP　*/
.news-flex {
    display: flex;
    flex-direction: row;
    justify-content: center space-between;
}

.topnews {
    margin-left: 20px;
    background: rgba(000,000,000,.5);
    width: 33%;
}
.topnews a {
    color: #fff;
}
.news-p {
    padding: 20px;
}

/* --------保留
.top-news img {
   padding-left: 10px;
   padding-right: 10px;
   width: 100%;
}
.top-news a {
   color: white;
   font-weight: bolder;
}
---- */
.blog-bg {
   background-image: url(top-bg-images/S__359006210.jpg);
   width: 100%;
   background-size: cover;
   height: 100%;
}
.layer {
   background: rgba(000,000,000,.3);
}
.blog {
   text-align: center;
   padding: 30px;
   font-size: 35px;
   font-weight: bolder;
   font-family: serif;
   color: #fff;
}
.blog-bg p:hover {
   opacity: .9;
}
.naiyou {
   color: #fff;
   text-align: center;
   padding-bottom: 80px;
}
.button2 {
   background: #fecf8d;
   color: #432;
   border-radius: 5px;
   padding: 10px 0 10px 0;
   text-align: center;
   font-weight: bolder;
}
.button2:hover {
   background: #e6bc87;
}
.see {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/* マウスオーバーで文字表示　*/
.photo-box12 {
 width: 100%;/* 画像の幅調整 */
}

.photo-box12 .circumscribed-photo-box-hidden {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.photo-box12 .circumscribed-photo-box {
  width: 100%;
  height: 0;
  padding-top: 75%;/* 画像の高さ調整 */
  background: url(images2/S__383721474.jpg) no-repeat center center; /* 画像のURLを指定 */
  background-size: cover;
}
.photo-box12 .circumscribed-photo-box2 {
  width: 100%;
  height: 0;
  padding-top: 75%;/* 画像の高さ調整 */
  background: url(S__354729993.jpg) no-repeat center center; /* 画像のURLを指定 */
  background-size: cover;
}
.photo-box12 .circumscribed-photo-box3 {
  width: 100%;
  height: 0;
  padding-top: 75%;/* 画像の高さ調整 */
  background: url(shiba-images/210112_31.jpg) no-repeat center center; /* 画像のURLを指定 */
  background-size: cover;
}

.photo-box12 .mask {
  width: 100%;
  height: 0;
  padding-top: 75%;/* 画像の高さ調整をした場合は、こちらも同じ値に変更 */
  background-color: rgba(0,0,0,0.8);
}

.photo-box12 .mask-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 0.8em;
  color: #fff;
  text-align: center;
}

.photo-box12 .mouse-over-mask {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotateX(-180deg);
  transition: all 0.5s ease;
}

.photo-box12:hover .mouse-over-mask {
  transform: rotateX(0deg);
  opacity: 1;
}
.mask-text {
    padding: 0 10px 0 10px;
}

/*左から右にフェードイン*/
.left-to-right {
  opacity: 0.1;
  transform: translateX(-20px);
  transition: all 1s;
}
.left-to-right.scrollin {
  opacity: 1;
  transform: translate(0);
}




/* ABOUT */

.big-bg {
  background-image: url(top-bg-images/349831170-10.jpg);
  background-size: cover;
  height: 100vh;
  background-color: #000;

}

/* About-縦タイトル*/
.about {
     font-size: 30px;
     border-left: 10px #fecf8d solid;
     padding-left:10px;
}
.title {
     width: 100px;
     padding-top: 130px;
     color: #ddd;
}
.title-about {
     width: 100px;
     color: #ddd;
}

/* 自己紹介　*/
article {
    width: 50%;
    margin: 0 0 0 auto;
    padding: 40px 35px 50px 35px;
    text-align: justify;
    color: #ddd;
    background: rgba(000,000,000,.5);
}
.intro-contents p {
    font-size: 0.8rem;
}

.intro-contents h2 {
    font-family:'Pacifico', cursive;
    padding-bottom: 20px;
}
.gengo {
   padding-top: 80px;
   text-align: right;
}





/*ギャラリー背景　*/
.gallery-bg {
    background-color: #222;
    color: #ddd;
}

/* ギャラリー縦タイトル */
.gallery {
     font-size: 30px;
     border-left: 10px #fecf8d solid;
     padding-left:10px;
}
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 200px;
}
.big-box {
    grid-column: 1/3;
    grid-row: 1/3;
}
.big-box img {
    height: 92%;
    width: 100%;
    object-fit: cover;
}
.big-box2 {
  grid-column: 6/4;
  grid-row: 3/5;
}
.big-box2 img {
    height: 88%;
    width: 100%;
    object-fit: cover;
}
.big-box3 {
    grid-column: 1/3;
    grid-row: 5/7;
}
.big-box3 img {
    height: 92%;
    width: 100%;
    object-fit: cover;
}
.tate img {
    object-fit: cover;
}

.item p {
    font-size: 12px;
}
/* マウスオーバーでモノクロ　*/
.grid img {
  filter: grayscale(0);
  transition-duration: 0.5s;
}
.grid img:hover{
  filter: grayscale(100%);
  transition-duration: 0.5s;
}






/* slider タイトル　*/
.photo-collections {
  font-size: 30px;
  border-left: 10px #fecf8d solid;
  padding-left:10px;
  margin-bottom: 50px;
  color: #fff;
}
.click {
     text-align: right;
     font-size: 25px;
     color: #fff;
     font-family: cursive;
     margin-right: 120px;

}

/* slider */
.slider{
    margin: 0 auto;
    width: 80%;
}
.slider img{
    height: auto;
    width: 100%;
}
.slider a {
    color: #fff;
}
/* マウスオーバーでモノクロ　*/
.slider img {
  filter: grayscale(0);
  transition-duration: 0.5s;
}
.slider img:hover{
  filter: grayscale(100%);
  transition-duration: 0.5s;
}
/* 保留　------------------
.slider a:hover {
    opacity: .5;
}
.slider img:hover {
    opacity: .9;
}
-------------------------*/

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #fff;
}
.sliderbg {
    background-image: url(top-bg-images/S__350347268.jpg);
    background-size: cover;

    background-color: #000;
    padding-bottom: 250px;
}
.sliderbg p {
    margin-bottom: 15px;
}
ul {
    list-style: none;
}

/* 文章　*/
.writting-bg {
    padding-top: 100px;
}
.writting {
    background: rgba(255,255,255,.5);
    text-align: center;
    padding: 50px;
    width: 70%;
    color: #432;
}

/* NEWS タイトル　*/
.news {
  font-size: 30px;
  border-left: 10px #fecf8d solid;
  padding-left:10px;
  margin-bottom: 20px;
  color: #fff;
}
.check {
     text-align: right;
     font-size: 25px;
     color: #fff;
     font-family: cursive;

}

/* NEWS */
.suzuri {
    display: flex;
    flex-direction:row;
    width: 100%;
    padding: 20px;
}
.suzuri img {
    width: 100%;
    background: rgba(255,255,255,.2);
}
.suzuri p {
    background: rgba(000,000,000,.5);
    padding: 10px;
}
.caption {
    color: #fff;
    text-align: center;

}
.products {
    margin-right: 10px;
}
.suzuri img:hover {
    opacity: .7;
}
.suzuri p:hover {
    opacity: .5;
}
.suzuri-intro {
    background: rgba(255,255,255,.5);
    padding: 20px;
    text-align: center;
    color: #432;
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.adobe {
    color: red;
}
.suzuri-intro a:hover {
     opacity: .5;
}


/* moreボタン　*/
.more {
    text-align: center;
    width: 30%;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

.newsbg {
    background-image: url(top-bg-images/DSC03147-2.jpg);
    background-size: cover;
}
.padding {
    padding-top:230px;
}



/* 徳島の秘境についての記事　保留--------------
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
}
.grid2 a {
    color: #432;
}

.big-box3 {
    grid-column: 1/3;
    grid-row: 1/3;
    position: relative;
}
.news1 {
   position: absolute;
   top: 25%;
   left: 30%;
   font-size: 40px;
   padding: 30px;
   background: rgba(255,255,255,.5);
   font-weight: bold;
}
.img2 {
    position: relative;
}
.news2 {
   position: absolute;
   top: 25%;
   left: 30%;
   font-size: 25px;
   padding: 20px;
   background: rgba(255,255,255,.5);
   font-weight: bold;

}
.img3 {
    position: relative;
}
.news3 {
   position: absolute;
   top: 25%;
   left: 30%;
   font-size: 25px;
   padding: 20px;
   background: rgba(255,255,255,.5);
   font-weight: bold;
}

.big-box3 img {
    object-fit: cover;
    width: 100%;
    height: 98%;
}
.img2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
-------------------------------------*/

/* マウスオーバーでモノクロ　*/
.grid2 img {
  filter: grayscale(0);
  transition-duration: 0.5s;
}
.grid2 img:hover{
  filter: grayscale(100%);
  transition-duration: 0.5s;
}

.grid2 div {
  filter: grayscale(0);
  transition-duration: 0.5s;
}
.grid2 div:hover{
  filter: grayscale(100%);
  transition-duration: 0.5s;
}
/* NEWS内１ */


.times-bg {
    background-image: url(S__351567877.jpg);
    height: 270px;
    width: 100%;
    background-size: cover;
}
.times-home {
  display: flex;
  justify-content: center;
  padding-top: 120px;

}
.times-title {
    font-size: 50px;
    font-family: serif;
    font-weight: bolder;
}
.post-p {
    padding-left: 20px;
}


.post-date {
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  font-size: 1.1rem;
  position: absolute;
  padding: 15px 10px 15px 10px;

}
.post-date span {
    font-size: 1.1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
.location-map iframe {
    width: 100%;
}




/* NEWS内１　記事部分　*/
.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0;
    padding: 0;
    font-size: 20px;

    font-weight: bolder;
}

.fusen {
  padding: 0;
  position: relative;
}

.fusen li {
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  background: whitesmoke;
  margin-bottom: 5px;
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
}

.article {
    color: #000;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
    font-family: serif;
}
.kuuhaku {
    margin-top: 50px;
}
.article1 {
    display: flex;
    margin-top: 10px;
}

.article1 img {
    width: 50%;
    height: 100%;
    margin-right: 50px;
}


.article1 p {
    width: 50%;
}



.article2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}
.article2 img {
    width: 50%;
    height: 100%;
    margin-left: 50px;
}
.article2 p {
    width: 50%;

}







/* コンタクト 縦タイトル*/
.title-contact {
    font-size: 30px;
    color: #ddd;
    border-left: 10px #fecf8d solid;
    padding-left:10px;

}

/*　コンタクト背景　*/
.contact {
    display: flex;
    justify-content:space-between;
}
.contact img {
    width:15%;
    height:15%;
    margin-top: 530px;
}
.contact-bg {
    background-image: url(top-bg-images/S__351551490.jpg);
    background-size: cover;
}

/* コンタクトフォーム　*/
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-top: 15px;
    display: block;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background: rgba(255,255,255,.7);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 200%;
    max-width: 480px;
}
textarea {
    width: 200%;
    max-width: 480px;
    height: 6rem;
    margin-bottom: 20px;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
}
.button {
    font-size: 1.37rem;
    background: #fecf8d;
    color: #432;
    border-radius: 5px;
    padding: 10px 24px;
}
.button:hover {
    background: #e6bc87;
}

.contact-box {
    padding: 30px 0px 100px 0px;
    position: relative;
}


/* フッター　
-----------------------------　*/
footer {
    background: #000;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #ddd;
    font-size: 0.875rem;
}

/*下から上にフェードイン*/
.down-to-top {
  opacity: 0.1;
  transform: translateY(20px);
  transition: all 1s;
}
.down-to-top.scrollin {
  opacity: 2;
  transform: translateY(0);
}


/*------------- collections内共通------------------ */
.all-home {
    background-color: #000;
}
.font {
    font-weight: bold;
    color: #fff;
}
.hometitle2 {
    font-size: 50px;
}

/* safari */
.s {
    background-image: url(safari-images/S__352018436-3.jpg);
    background-size: cover;
    height: 100%;
    background-color: #000;
}

/* tokushima */
.t {
    background-image: url(tokushima-images/S__350748680-2.jpg);
    background-size: cover;
    height: 100%;
    background-color: #000;
}
.size img{
    height: 92%;
    object-fit: cover;
}

/* canada */
.c {
    background-image: url(canada-images/S__352206860-3.jpg);
    background-size: cover;
    height: 100%;
    background-color: #000;
}
.size3 img {
    height: 85%;
    object-fit: cover;
}
.size2 img {
    height: 80%;
    object-fit: cover;
}

/* shiba-inu */
.shiba {
    background-image: url(shiba-images/S__352518146-2.jpg);
    background-size: cover;
    height: 100%;
    background-color: #000;
}

/* landscape */
.l {
    background-image: url(land-images/S__356966412-2.jpg);
    background-size: cover;
    height: 100%;
    background-color: #000;
}













/* モバイル版
---------------------------------------　*/

@media(max-width: 600px) {
    .logo {
        font-size: 1.2rem;
    }
    .title {
        padding-top: 130px;
    }

    /* HEADER */
    header {
        height: 50px;
        width: 100%;
    }

    /* NEWS-TOPお知らせ　*/
    .news-flex {
        display: flex;
        flex-direction: column;
        justify-content: center space-between;
    }
    .topnews {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
    .see {
        width: 100%;
    }










    /* ABOUT */

    article {
        width: 100%;
        height: 90%;
        padding: 20px 10px 30px 10px;
    }
    .about {
        margin-bottom: 50px;
    }
    /* 保留-------------------
    article, aside {
        width: 100%;
    }
   article {
        padding-right: 0px;
    }
    aside {
        margin-top: 30px;
    }
    --------------------------*/

    /* GALLERY */
    .grid {
        display: grid;
        gap:10px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .big-box {
        grid-column: auto;
        grid-row: auto;
    }
    .big-box2 {
      grid-column: auto;
      grid-row: auto;
    }

    .big-box img {
        height: auto;
    }
    .big-box2 img {
        height: auto;
    }
    .tate {
       object-fit: cover;
    }

    /* Writting */
    .writting {
        padding: 20px;
        width: 90%;
    }

    /* Products SUZURI */
    .suzuri {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .more {
       width: 100%;
    }
    .products {
        margin-bottom: 30px;
    }

    /* NEWS */
    .big-box3 {
        grid-column: auto;
        grid-row: auto;
    }
    .big-box3 img {
        height: 100%;
    }
    .grid2 img {
        width: 100%;
        height: 100%;
    }
    .grid2 {
        grid-template-columns: 1fr;
        padding: 0px;
    }
    .news1 {
         font-size: 20px;
         padding: 20px;

    }


/* NEWS内１ */

    .times-home {
        text-align: center;
    }
    .post-date {
        display: none;
    }

    .location-map {
        width: 100%;
    }

    .article1 {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .article1 img {
        width: 100%;
        height: 100%;
    }
    .article1 p {
        width: 100%;
        margin-top: 10px;
    }
    .article2 {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .article2 img {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
    .article2 p {
        width: 100%;
        margin-top: 10px;
    }




    /* CONTACT */
    .contact-box textarea {
        width: 120%;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"]{
        width: 120%;
    }

}




@media(max-width: 1000px){
    /*============
    nav
    =============*/
    nav {
      display: block;
      position: fixed;
      top: 0;
      left: -300px;
      bottom: 0;
      width: 300px;
      background: #ffffff;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      transition: all .5s;
      z-index: 3;
      opacity: 0;
    }
    .open nav {
      left: 0;
      opacity: 1;
    }
    nav .inner {
      padding: 25px;
    }
    nav .inner ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    nav .inner ul li {
      position: relative;
      margin: 0;
      border-bottom: 1px solid #333;
    }
    nav .inner ul li a {
      display: block;
      color: #333;
      font-size: 14px;
      padding: 2em;
      text-decoration: none;
      transition-duration: 0.2s;
    }
    nav .inner ul li a:hover {
      background: #e4e4e4;
    }

.main-nav {
    flex-direction: column;
    text-align: center;


}



    /*============
    .toggle_btn
    =============*/
    .toggle_btn {
      display: block;
      position: fixed;
      top: 10px;
      right: 30px;
      width: 30px;
      height: 30px;
      transition: all .5s;
      cursor: pointer;
      z-index: 3;
    }
    .toggle_btn span {
      display: block;
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
      transition: all .5s;

    }
    .toggle_btn span:nth-child(1) {
      top: 4px;
    }
    .toggle_btn span:nth-child(2) {
      top: 14px;
    }
    .toggle_btn span:nth-child(3) {
      bottom: 4px;
    }
    .open .toggle_btn span {
      background-color: #fff;
    }
    .open .toggle_btn span:nth-child(1) {
      -webkit-transform: translateY(10px) rotate(-315deg);
      transform: translateY(10px) rotate(-315deg);
    }
    .open .toggle_btn span:nth-child(2) {
      opacity: 0;
    }
    .open .toggle_btn span:nth-child(3) {
      -webkit-transform: translateY(-10px) rotate(315deg);
      transform: translateY(-10px) rotate(315deg);
    }
    /*============
    #mask
    =============*/
    #mask {
      display: none;
      transition: all .5s;
    }
    .open #mask {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: .5;
      z-index: 2;
      cursor: pointer;
    }




}
