@charset "UTF-8"

/* 共通部分
--------------------------------*/
html {
   font-size: 100%;
}
body {
   font-family: "Yu Gothic Medium", "游ゴシック　Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ　Pro W3", sans-serif;
   line-height: 1.7;
   color: #ddd;

}
a {
   text-decoration: none;
}
img {
   max-width: 100%;
}

/* HEADER
-----------------------------*/
header {
    background-color: rgba(34,49,52,0.5);
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 12;

}

.logo {
    font-family: 'Playball', cursive;
    color: #fff;
}
span {
    color: #fecf8d;
}


.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
    margin-top: 20px;
}
.main-nav li{
    margin-left: 36px;

}
.main-nav a {
    color: #fff;
}
.main-nav a:hover {
    color: #fecf8d;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}


.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4px;

}



/* HOME
-------------------------------------------- */
.home-content {
    position: relative;

}


.big-baghome {
     background-color: #000;
     width: 100%;
     min-height: 100vh;
     background-size: cover;
}


/* 大きな背景画像　*/

.slideBox {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* テキストがあるバージョン */
.hometitle {
  font-size: 2rem;
  font-family: 'Playball', cursive;
  color: #dbedf0;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.item2 {
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 30s 0s infinite;
  animation: anime 30s 0s infinite;
}

.item2:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.item2:nth-of-type(3) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

/* ふわっとアニメーション */
@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}


/* ABOUT */
.big-bg {
  background-image: url(349831170-10.jpg);
  background-size: cover;
  height: 100vh;
  background-color: #000;

}

/* About-縦タイトル*/
.about {
     font-size: 30px;
     border-left: 10px #fecf8d solid;
     padding-left:10px;


}
.title {
     width: 100px;
     padding-top: 130px;
     color: #ddd;
}

/* 自己紹介　*/
article {
    width: 50%;
    margin: 0 0 0 auto;
    padding: 50px 35px 60px 35px;
    text-align: justify;

    color: #ddd;
    background: rgba(000,000,000,.5);
}
.intro-contents p {
    font-size: 0.8rem;
}
.jap {
    margin-top: 10px;
    margin-bottom: 10px;
}
.intro-contents h2 {
    font-family:'Pacifico', cursive;

}

/* サイド画像部分　*/



/*ギャラリー背景　*/
.gallery-bg {
    background-color: #222;
    color: #ddd;
}

/* ギャラリー縦タイトル */
.gallery {
     font-size: 30px;
     border-left: 10px #fecf8d solid;
     padding-left:10px;
}
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 200px;
}
.big-box {
    grid-column: 1/3;
    grid-row: 1/3;
}
.big-box img {
    height: 92%;
    width: 100%;
    object-fit: cover;
}
.big-box2 {
  grid-column: 6/4;
  grid-row: 3/5;
}
.big-box2 img {
    height: 88%;
    width: 100%;
    object-fit: cover;
}

.tate img {
    object-fit: cover;
}

.item p {
    font-size: 12px;
}
.grid img {
  filter: grayscale(0);
  transition-duration: 0.5s;
}
.grid img:hover{
  filter: grayscale(100%);
  transition-duration: 0.5s;
}






/* slider タイトル　*/
.photo-collections {
  font-size: 30px;
  border-left: 10px #fecf8d solid;
  padding-left:10px;
  margin-bottom: 50px;
  color: #fff;
}

/* slider */
.slider{
    margin: 0 auto;
    width: 80%;
}
.slider img{
    height: auto;
    width: 100%;
}
.slider a {
    color: #fff;
}
.slider img {
  filter: grayscale(0);
  transition-duration: 0.5s;
}
.slider img:hover{
  filter: grayscale(100%);
  transition-duration: 0.5s;
}
/* 保留　------------------
.slider a:hover {
    opacity: .5;
}
.slider img:hover {
    opacity: .9;
}
-------------------------*/

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #fff;
}
.sliderbg {
    background-image: url(S__350347268.jpg);
    background-size: cover;

    background-color: #000;
    padding-bottom: 250px;
}
.sliderbg p {
    margin-bottom: 15px;
}
ul {
    list-style: none;
}

/* 文章　*/
.writting-bg {
    padding-top: 100px;
}
.writting {
    background: rgba(255,255,255,.5);
    text-align: center;
    padding: 50px;
    width: 70%;
    color: #432;
}












/* コンタクト 縦タイトル*/
.title-contact {
    font-size: 30px;
    color: #ddd;
    border-left: 10px #fecf8d solid;
    padding-left:10px;

}

/*　コンタクト背景　*/
.contact {
    display: flex;
    justify-content:space-between;
}
.contact img {
    width:15%;
    height:15%;
    margin-top: 530px;
}
.contact-bg {
    background-image: url(DSC01298-2.jpg);
    background-size: cover;
}

/* コンタクトフォーム　*/
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-top: 15px;
    display: block;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 200%;
    max-width: 480px;
}
textarea {
    width: 200%;
    max-width: 480px;
    height: 6rem;
    margin-bottom: 20px;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
}
.button {
    font-size: 1.37rem;
    background: #fecf8d;
    color: #432;
    border-radius: 5px;
    padding: 10px 24px;
}
.button:hover {
    background: #e6bc87;
}

.contact-box {
    padding: 30px 0px 100px 0px;
    position: relative;
}


/* フッター　
-----------------------------　*/
footer {
    background: #000;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #ddd;
    font-size: 0.875rem;
}

/*下から上にフェードイン*/
.down-to-top {
  opacity: 0.1;
  transform: translateY(20px);
  transition: all 2s;
}
.down-to-top.scrollin {
  opacity: 2;
  transform: translateY(0);
}


/* safari */
.safari-home {
   background-image: url(2104060.jpg);
   height: 270px;
    margin-bottom: 40px;
}










/* モバイル版
---------------------------------------　*/

@media(max-width: 600px) {
    .logo {
        font-size: 1.2rem;
    }
    .title {
        padding-top: 80px;
    }

    /* HEADER */
    header {
        height: 50px;
        width: 100%;
    }



    /* ABOUT */

    article {
        width: 100%;
        height: 90%;
        padding: 10px;
    }
    .about {
        margin-bottom: 10px;
    }
    /* 保留-------------------
    article, aside {
        width: 100%;
    }
   article {
        padding-right: 0px;
    }
    aside {
        margin-top: 30px;
    }
    --------------------------*/

    /* GALLERY */
    .grid {
        display: grid;
        gap:10px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .big-box {
        grid-column: auto;
        grid-row: auto;
    }
    .big-box2 {
      grid-column: auto;
      grid-row: auto;
    }

    .big-box img {
        height: auto;
    }
    .big-box2 img {
        height: auto;
    }
    .tate {
       object-fit: cover;
    }

    /* CONTACT */
    .contact-box textarea {
        width: 130%;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"]{
        width: 130%;
    }

}



@media(max-width: 1000px){
    /*============
    nav
    =============*/
    nav {
      display: block;
      position: fixed;
      top: 0;
      left: -300px;
      bottom: 0;
      width: 300px;
      background: #ffffff;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      transition: all .5s;
      z-index: 3;
      opacity: 0;
    }
    .open nav {
      left: 0;
      opacity: 1;
    }
    nav .inner {
      padding: 25px;
    }
    nav .inner ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    nav .inner ul li {
      position: relative;
      margin: 0;
      border-bottom: 1px solid #333;
    }
    nav .inner ul li a {
      display: block;
      color: #333;
      font-size: 14px;
      padding: 2em;
      text-decoration: none;
      transition-duration: 0.2s;
    }
    nav .inner ul li a:hover {
      background: #e4e4e4;
    }

.main-nav {
    flex-direction: column;
    text-align: center;


}



    /*============
    .toggle_btn
    =============*/
    .toggle_btn {
      display: block;
      position: fixed;
      top: 10px;
      right: 30px;
      width: 30px;
      height: 30px;
      transition: all .5s;
      cursor: pointer;
      z-index: 3;
    }
    .toggle_btn span {
      display: block;
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
      transition: all .5s;

    }
    .toggle_btn span:nth-child(1) {
      top: 4px;
    }
    .toggle_btn span:nth-child(2) {
      top: 14px;
    }
    .toggle_btn span:nth-child(3) {
      bottom: 4px;
    }
    .open .toggle_btn span {
      background-color: #fff;
    }
    .open .toggle_btn span:nth-child(1) {
      -webkit-transform: translateY(10px) rotate(-315deg);
      transform: translateY(10px) rotate(-315deg);
    }
    .open .toggle_btn span:nth-child(2) {
      opacity: 0;
    }
    .open .toggle_btn span:nth-child(3) {
      -webkit-transform: translateY(-10px) rotate(315deg);
      transform: translateY(-10px) rotate(315deg);
    }
    /*============
    #mask
    =============*/
    #mask {
      display: none;
      transition: all .5s;
    }
    .open #mask {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: .5;
      z-index: 2;
      cursor: pointer;
    }




}
